*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 62.5%; }

body {
  font-family: 'Barlow', sans-serif;
  font-weight: normal;
  color: #FFFFFF;
  background-image: url("../assets/home/background-home-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

body {
  object-fit: cover;
  background-image: url("../assets/crew/background-crew-desktop.jpg"); }

.header {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 5.5rem; }
  .header__logo-container {
    width: 4.8rem;
    height: 4.8rem; }
    .header__logo-container img {
      max-width: 100%;
      min-width: 100%;
      display: block; }
  .header .crew-highlight::after {
    content: "";
    display: block;
    width: 6.5rem;
    height: .3rem;
    background-color: #FFFFFF;
    margin-top: 1.5rem; }
  .header .active {
    pointer-events: none;
    cursor: default; }
  .header__line-container {
    position: absolute;
    left: 11.2rem;
    right: 0;
    top: 50%;
    height: 0.1rem;
    width: 47.3rem;
    background-color: #979797;
    z-index: 3; }
  .header__menu-container {
    flex-grow: 2;
    margin-left: 44rem;
    display: flex;
    width: 83rem;
    height: 9.6rem;
    align-items: center;
    justify-content: center;
    position: relative;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.04);
    z-index: 2; }
    .header__menu-container__into {
      width: auto;
      height: 1.9rem; }
    .header__menu-container ul {
      list-style: none;
      display: flex;
      gap: 6.5rem; }
      .header__menu-container ul a {
        font-size: 1.6rem;
        font-family: "Barlow Condensed", sans-serif;
        text-decoration: none;
        color: #FFFFFF;
        transition: all 0.3s; }
        .header__menu-container ul a:hover {
          color: #F2613F;
          font-size: 2rem; }
        .header__menu-container ul a .menu-name {
          font-weight: normal; }
        .header__menu-container ul a .menu-number {
          padding-right: 0.5rem;
          font-weight: bold; }

main {
  display: flex;
  flex-direction: column;
  gap: 2rem; }

.crew_header {
  display: inline-block;
  transform: translate(10rem, 10rem);
  font-family: "Barlow Condensed", sans-serif;
  font-weight: normal;
  font-size: 2.8rem;
  color: #FFFFFF;
  text-transform: uppercase;
  word-spacing: 1.2rem; }
  .crew_header > b {
    opacity: 25%; }

.crew_information {
  display: flex;
  margin-left: 10.5rem;
  align-items: center;
  gap: 15rem; }
  .crew_information__profession {
    font-size: 3.2rem;
    text-align: left;
    font-weight: normal;
    text-transform: uppercase;
    font-family: "Bellefair", sans-serif;
    letter-spacing: 0;
    opacity: 50.42%;
    color: #FFFFFF; }
  .crew_information__name {
    color: #FFFFFF;
    font-family: "Bellefair", sans-serif;
    font-size: 5.6rem;
    font-weight: normal;
    text-align: left; }
  .crew_information__name, .crew_information__profession {
    padding-bottom: 2.5rem; }
  .crew_information__text {
    max-width: 45rem;
    font-weight: normal;
    font-size: 1.8rem;
    text-align: left;
    color: #D0D6F9; }
  .crew_information .crew-image {
    overflow: hidden;
    object-fit: contain;
    width: 45.3rem;
    height: 63rem; }

.slider-dots {
  text-align: center;
  margin-top: 2rem; }
  .slider-dots .dot {
    height: 1.5rem;
    width: 1.5rem;
    margin: 0 0.5rem;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease; }
  .slider-dots .active,
  .slider-dots .dot:hover {
    cursor: pointer;
    background-color: #F2613F; }

@media only screen and (max-width: 26.875em) and (orientation: portrait) {
  body {
    object-fit: cover;
    background-image: url("../assets/crew/background-crew-mobile.jpg"); }
  html {
    font-size: 30.25%; }
  .header__logo-container {
    width: 7.5rem;
    height: 6.5rem; }
  .header__line-container {
    display: none;
    left: 10rem;
    width: 45rem; }
  .header__menu-container {
    justify-content: flex-start;
    margin-left: 5rem; }
  .header ul {
    padding-left: 2.5rem;
    gap: 6.5rem; }
  .crew_header {
    transform: translate(22rem, 15rem); }
  .crew_information {
    align-items: center;
    margin-top: 1.5rem;
    flex-direction: column-reverse;
    gap: 15rem;
    margin-left: 0; }
  .crew_information__description {
    display: flex;
    flex-direction: column-reverse;
    gap: 4.5rem; }
  .crew_information__profession {
    order: 1; }
  .crew_information__name {
    order: 2; }
  .slider-dots {
    z-index: 5000;
    order: 3; }
  .crew_information__text {
    font-size: 2rem; }
  .crew_information__profession,
  .crew_information__name {
    text-align: center; }
  .crew-image {
    align-self: center;
    width: 50vw !important;
    height: 45vh !important; } }

@media only screen and (max-width: 30em) and (min-width: 26.875em) and (orientation: portrait) {
  body {
    object-fit: cover;
    background-image: url("../assets/crew/background-crew-mobile.jpg"); }
  html {
    font-size: 35.25%; }
  .header__logo-container {
    width: 6.5rem;
    height: 6.5rem; }
  .header__line-container {
    display: none;
    left: 10rem;
    width: 45rem; }
  .header__menu-container {
    justify-content: flex-start;
    margin-left: 5rem; }
  .header ul {
    padding-left: 2.5rem;
    gap: 6.5rem; }
  .header ul li > a > span {
    font-size: 1.7rem; }
  .crew_header {
    transform: translate(22rem, 5em); }
  .crew_information {
    align-items: center;
    margin-top: 1.5rem;
    flex-direction: column-reverse;
    gap: 15.5rem;
    margin-left: 0; }
  .crew_information__description {
    display: flex;
    flex-direction: column-reverse;
    gap: 4.5rem; }
  .crew_information__profession {
    order: 1; }
  .crew_information__name {
    order: 2; }
  .slider-dots {
    z-index: 5000;
    order: 3; }
  .crew_information__text {
    font-size: 2rem; }
  .crew_information__profession,
  .crew_information__name {
    text-align: center; }
  .crew-image {
    align-self: center;
    width: 50vw !important;
    height: 45vh !important; } }

@media only screen and (max-width: 48em) and (min-width: 30em) {
  body {
    object-fit: cover;
    background-image: url("../assets/crew/background-crew-tablet.jpg"); }
  html {
    font-size: 41.25%; }
  .header__logo-container {
    width: 6.5rem;
    height: 6.5rem; }
  .header__line-container {
    display: none;
    left: 10rem;
    width: 45rem; }
  .header__menu-container {
    justify-content: flex-start;
    margin-left: 5rem; }
  .header ul {
    padding-left: 2.5rem;
    gap: 6.5rem; }
  .crew_header {
    transform: translate(10rem, 1em); }
  .crew_information {
    margin-top: 6rem;
    flex-direction: column;
    gap: 0;
    margin-left: 0; }
  .crew_information__profession,
  .crew_information__name {
    text-align: center; }
  .crew-image {
    width: 50vw !important;
    height: 40vh !important; } }

@media only screen and (max-width: 79em) and (min-width: 48em) {
  body {
    object-fit: cover;
    background-image: url("../assets/crew/background-crew-tablet.jpg"); }
  html {
    font-size: 56.25%; }
  .header__logo-container {
    width: 4.5rem;
    height: 4.5rem; }
  .header__line-container {
    display: none;
    left: 10rem;
    width: 45rem; }
  .header__menu-container {
    justify-content: flex-start;
    margin-left: 10rem; }
  .header ul {
    padding-left: 7.5rem;
    gap: 6.5rem; }
  .crew_header {
    transform: translate(10rem, 1em); }
  .crew_information {
    margin-top: 6rem;
    flex-direction: column;
    gap: 0;
    margin-left: 0; }
  .crew_information__profession,
  .crew_information__name {
    text-align: center; }
  .crew-image {
    width: 40vw !important;
    height: 31vh !important; } }

@media only screen and (min-width: 80em) and (max-width: 99em) {
  html {
    font-size: 60%; }
  .header__logo-container {
    width: 6.5rem;
    height: 6.5rem; }
  .header__line-container {
    left: 10rem;
    width: 25rem; }
  .header__menu-container {
    justify-content: start;
    margin-left: 25rem; }
  .header ul {
    padding-left: 7.5rem;
    gap: 6.5rem; }
  .crew-highlight::after {
    width: 6.6rem; }
  .crew-image {
    width: 23.5vw !important;
    height: 72.5vh !important; }
  .crew_header {
    transform: translate(10rem, 5rem); } }

@media only screen and (min-width: 100em) and (max-width: 160em) {
  html {
    font-size: 80%; }
  .header {
    min-width: 10rem; }
    .header__logo-container {
      width: 6.5rem;
      height: 6.5rem; }
    .header__line-container {
      left: 10rem;
      width: 25rem; }
    .header__menu-container {
      justify-content: start;
      margin-left: 25rem; }
    .header ul {
      padding-left: 5.5rem;
      gap: 6.5rem; }
  .crew-highlight::after {
    width: 6.6rem; }
  .crew-image {
    width: 23.5vw !important;
    height: 72.5vh !important; }
  .crew_header {
    transform: translate(10rem, 5rem); } }

@media only screen and (min-width: 160em) and (max-width: 187.5em) {
  html {
    font-size: 105%; }
  .header__logo-container {
    width: 7rem;
    height: 7rem; }
  .header__menu-container {
    justify-content: start; }
  .header ul {
    padding-left: 11.5rem;
    gap: 7.5rem; }
  .crew-highlight::after {
    width: 6.6rem; }
  .crew-image {
    width: 22vw !important;
    height: 73vh !important; }
  .crew_header {
    transform: translate(10rem, 5rem); } }

@media only screen and (min-width: 187.5em) {
  html {
    font-size: 115%; }
  .header__logo-container {
    width: 7rem;
    height: 7rem; }
  .header__menu-container {
    justify-content: start; }
  .header ul {
    padding-left: 11.5rem;
    gap: 7.5rem; }
  .crew-highlight::after {
    width: 6.6rem; }
  .crew-image {
    width: 23vw !important;
    height: 75.4vh !important; }
  .crew_header {
    transform: translate(10rem, 5rem); } }
