*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  margin: 0;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 62.5%; }

body {
  font-family: 'Barlow', sans-serif;
  font-weight: normal;
  color: #FFFFFF;
  background-image: url("../public/assets/home/background-home-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.header .menu-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  opacity: 0;
  visibility: hidden;
  z-index: 5;
  justify-content: center;
  align-items: center;
  transform-origin: top right; }
  .header .menu-overlay.active_menu {
    display: flex;
    animation: expandMenuDiagonally 1s forwards;
    visibility: visible; }
  .header .menu-overlay.closing_menu {
    animation: collapseMenuDiagonally 1s forwards; }
  .header .menu-overlay > nav > ul {
    display: flex;
    flex-direction: column;
    gap: 3vh; }
  .header .menu-overlay > nav > ul > li {
    list-style: none;
    font-size: 10.5vw; }
    .header .menu-overlay > nav > ul > li > a {
      text-decoration: none;
      color: #FFFFFF; }
      .header .menu-overlay > nav > ul > li > a:visited {
        text-decoration: none; }
    .header .menu-overlay > nav > ul > li {
      transition: transform 0.8s ease; }
      .header .menu-overlay > nav > ul > li:active {
        transform: scale(0.9); }

.header .close_button {
  position: fixed;
  top: 5%;
  right: 4%;
  min-width: 10vw;
  max-width: 15vw;
  height: auto;
  display: block;
  background: none;
  border: none;
  cursor: pointer;
  fill: #FFFFFF;
  transition: transform 0.7s ease-out; }
  .header .close_button:active {
    transform: scale(0.8); }

.header .crew_header {
  transform: none; }

.header .crew_information {
  display: none; }

.header {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 5.5rem; }
  .header__logo-container {
    width: 4.8rem;
    height: 4.8rem; }
    .header__logo-container img {
      max-width: 100%;
      min-width: 100%;
      display: block; }
  .header .destination-highlight::after {
    content: "";
    display: block;
    width: 100%;
    height: .3rem;
    background-color: #FFFFFF;
    margin-top: 1.5rem; }
  .header .active {
    pointer-events: none;
    cursor: default; }
  .header__line-container {
    position: absolute;
    left: 11.2rem;
    right: 0;
    top: 50%;
    height: 0.1rem;
    width: 47.3rem;
    background-color: #979797;
    z-index: 3; }
  .header__menu-container {
    flex-grow: 2;
    margin-left: 44rem;
    display: flex;
    width: 83rem;
    height: 9.6rem;
    align-items: center;
    justify-content: center;
    position: relative;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.04);
    z-index: 2; }
    .header__menu-container__into {
      width: auto;
      height: 1.9rem; }
    .header__menu-container ul {
      list-style: none;
      display: flex;
      gap: 6.5rem; }
      .header__menu-container ul a {
        display: inline-block;
        font-size: 1.6rem;
        font-family: "Barlow Condensed", sans-serif;
        text-decoration: none;
        color: #FFFFFF;
        transition: all 0.3s; }
        .header__menu-container ul a:hover {
          color: #F2613F;
          transform: scale(1.3);
          transform-origin: center; }
        .header__menu-container ul a .menu-name {
          font-weight: normal; }
        .header__menu-container ul a .menu-number {
          padding-right: 0.5rem;
          font-weight: bold; }

body {
  object-fit: cover;
  background-image: url("../public/assets/destination/background-destination-desktop.jpg"); }

main {
  position: relative; }

.active-destination {
  pointer-events: none;
  cursor: default;
  --underline-width: (0, 6rem); }
  .active-destination::after {
    content: "";
    opacity: 1 !important;
    display: block;
    width: var(--underline-width) !important;
    height: .3rem !important;
    background-color: #FFFFFF;
    margin-top: 0.5rem; }

.pick_destination {
  display: inline-block;
  position: absolute;
  top: 12.2rem;
  left: 18.65rem;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: normal;
  font-size: 2.8rem;
  color: #FFFFFF;
  text-transform: uppercase;
  word-spacing: 1.5rem; }
  .pick_destination > b {
    opacity: 25%; }

.destination {
  position: absolute;
  display: flex;
  top: 20rem;
  left: 18rem;
  gap: 20rem; }
  .destination__description {
    overflow: hidden;
    display: flex;
    flex-direction: column; }
  .destination__name {
    overflow: hidden;
    align-self: flex-start;
    font-size: 10rem;
    font-weight: normal;
    text-transform: uppercase;
    font-family: "Bellefair", sans-serif;
    text-align: left;
    letter-spacing: .1rem; }
  .destination__text {
    overflow: hidden;
    width: 44.4rem;
    font-size: 1.8rem;
    color: #D0D6F9;
    font-family: "Barlow Condensed", sans-serif;
    text-align: left;
    line-height: 3.2rem; }
  .destination__line {
    width: 42.4rem;
    height: .1rem;
    background-color: #383B4B;
    margin-top: 2.5rem; }
  .destination__image > img {
    width: 44.5rem;
    height: 44.5rem; }
  .destination__places > ul {
    display: flex;
    list-style: none; }
    .destination__places > ul > li {
      width: 5.6rem;
      height: 1.9rem;
      font-size: 1.6rem;
      font-family: "Barlow Condensed", sans-serif;
      text-transform: uppercase;
      transition: color 0.3s .1s ease-in-out; }
      .destination__places > ul > li::after {
        content: "";
        display: block;
        width: 0;
        height: .3rem;
        background-color: #FFFFFF;
        margin-top: 0.5rem;
        opacity: 0;
        transition: opacity 0.3s ease, width 0.3s ease; }
      .destination__places > ul > li:hover {
        cursor: pointer;
        color: #F2613F; }
        .destination__places > ul > li:hover::after {
          opacity: 1;
          width: 4.8rem; }
    .destination__places > ul > li:not(:last-child) {
      margin-right: 2rem; }
    .destination__places > ul > li:nth-child(4) {
      margin-left: 2rem; }
  .destination__characteristics {
    overflow: hidden;
    margin-top: 2.5rem;
    display: flex;
    gap: 16rem; }
    .destination__characteristics_distance, .destination__characteristics_travelTime {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      gap: 2rem; }
      .destination__characteristics_distance > p, .destination__characteristics_travelTime > p {
        letter-spacing: .236rem;
        font-size: 1.4rem;
        font-family: "Barlow Condensed", sans-serif; }
      .destination__characteristics_distance > strong, .destination__characteristics_travelTime > strong {
        font-size: 2.8rem;
        text-align: left;
        font-family: "Bellefair", sans-serif; }

@keyframes moveOutLeft {
  from {
    opacity: 1;
    transform: translateX(0); }
  to {
    opacity: 0;
    transform: translateX(-100%); } }

@keyframes moveInRight {
  from {
    opacity: 0;
    transform: translateX(-100%); }
  to {
    opacity: 1;
    transform: translateX(0); } }

@keyframes movetoRight {
  from {
    opacity: 1;
    transform: translateX(0); }
  to {
    opacity: 0;
    transform: translateX(100%); } }

@keyframes movetoLeft {
  from {
    opacity: 0;
    transform: translateX(100%); }
  to {
    opacity: 1;
    transform: translateX(0); } }

@keyframes expandMenuDiagonally {
  from {
    transform: translateX(100%) translateY(0%) scale(0);
    opacity: 0; }
  to {
    transform: translateX(0%) translateY(0%) scale(1);
    opacity: 1; } }

@keyframes collapseMenuDiagonally {
  from {
    transform: translateX(0%) translateY(0%) scale(1);
    opacity: 1; }
  to {
    transform: translateX(100%) translateY(0%) scale(0);
    opacity: 0; } }

@media screen and (min-width: 160.1em) {
  body {
    background-image: url("../public/assets/destination/background-destination-desktop.jpg"); }
  html {
    font-size: 125%; }
  .header {
    margin-top: 1.1rem;
    margin-left: 1.5rem;
    margin-right: 0;
    margin-bottom: 1.5vw; }
    .header__line-container {
      min-width: 10vw;
      max-width: 25vw; }
    .header__menu-container {
      margin-left: 10rem;
      justify-content: center; }
    .header__logo-container {
      width: 7.5rem;
      height: auto;
      margin-right: 10.5rem; }
    .header .menu-overlay {
      display: none; }
    .header__hamburger-menu {
      display: none; }
  main {
    gap: 3.5vw;
    display: flex;
    flex-direction: column; }
  .section_pick {
    text-align: center;
    position: static; }
  .pick_destination {
    position: static; }
  .destination {
    align-self: center;
    position: sticky; } }

@media screen and (max-width: 160em) {
  body {
    background-image: url("../public/assets/destination/background-destination-desktop.jpg"); }
  html {
    font-size: 75%; }
  .header {
    margin-top: 1.1rem;
    margin-left: 1.5rem;
    margin-right: 0;
    margin-bottom: 1.5vw; }
    .header__line-container {
      min-width: 10vw;
      max-width: 25vw; }
    .header__menu-container {
      margin-left: 10rem;
      justify-content: center; }
    .header__logo-container {
      width: 7.5rem;
      height: auto;
      margin-right: 10.5rem; }
    .header .menu-overlay {
      display: none; }
    .header__hamburger-menu {
      display: none; }
  main {
    gap: 3.5vw;
    display: flex;
    flex-direction: column; }
  .section_pick {
    text-align: center;
    position: static; }
  .pick_destination {
    position: static; }
  .destination {
    align-self: center;
    position: sticky; } }

@media screen and (max-width: 100em) {
  body {
    background-image: url("../public/assets/destination/background-destination-desktop.jpg"); }
  html {
    font-size: 55%; }
  .header {
    margin-top: 1.1rem;
    margin-left: 1.5rem;
    margin-right: 0;
    margin-bottom: 4.5vw; }
    .header__line-container {
      min-width: 10vw;
      max-width: 25vw; }
    .header__menu-container {
      margin-left: 10rem;
      justify-content: center; }
    .header__logo-container {
      width: 7.5rem;
      height: auto;
      margin-right: 10.5rem; }
    .header .menu-overlay {
      display: none; }
    .header__hamburger-menu {
      display: none; }
  main {
    gap: 3.5vw;
    display: flex;
    flex-direction: column; }
  .pick_destination {
    position: sticky; }
  .destination {
    align-self: center;
    position: sticky; } }

@media screen and (max-width: 64em) {
  html {
    min-height: 100vh;
    font-size: 42%; }
  body {
    background-image: url("../public/assets/destination/background-destination-tablet.jpg"); }
  .header {
    margin-top: 1.1rem;
    justify-content: space-between;
    margin-left: 1.3rem; }
    .header__logo-container {
      min-width: 7.8em;
      height: auto; }
    .header__menu-container {
      margin-left: 5.5rem; }
    .header__line-container {
      display: none; }
    .header .menu-overlay {
      display: none; }
    .header__hamburger-menu {
      display: none; }
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5vw;
    margin-top: 3.5vw;
    position: sticky; }
  .pick_destination,
  .destination {
    position: static; }
  .destination {
    flex-direction: column; }
    .destination__image > img {
      max-width: 45em; }
    .destination__image {
      align-self: center; }
    .destination__description {
      align-items: center; }
    .destination__name {
      align-self: center; }
    .destination__text {
      line-break: auto;
      text-align: center; }
    .destination__places > ul {
      gap: 1.5vw; } }

@media screen and (max-width: 53.125em) {
  html {
    font-size: 38.25%; }
  body {
    background-image: url("../public/assets/destination/background-destination-tablet.jpg"); }
  .header {
    margin-top: 1.1rem;
    justify-content: space-between;
    margin-left: 1.3rem; }
    .header__logo-container {
      min-width: 6.8em;
      height: auto; }
    .header__menu-container {
      margin-left: 5.5rem; }
    .header__line-container {
      display: none; }
    .header .menu-overlay {
      display: none; }
    .header__hamburger-menu {
      display: none; }
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    margin-top: 5.5vw;
    position: sticky; }
  .pick_destination,
  .destination {
    position: static; }
  .destination {
    flex-direction: column; }
    .destination__image > img {
      max-width: 45em; }
    .destination__description {
      align-items: center; }
    .destination__name {
      align-self: center; }
    .destination__text {
      text-align: center; } }

@media screen and (max-width: 28.6em) {
  html {
    font-size: 31.25%; }
  body {
    background-image: url("../public/assets/destination/background-destination-mobile.jpg");
    background-size: cover; }
  .header {
    margin-top: 1.1rem;
    justify-content: space-between;
    margin-left: 1.3rem;
    margin-right: 3.5rem; }
    .header__line-container {
      display: none; }
    .header__menu-container {
      display: none; }
    .header__logo-container {
      min-width: 6em; }
    .header__hamburger-menu {
      align-self: center;
      max-width: 3.5rem;
      height: auto;
      display: block;
      background: none;
      border: none;
      cursor: pointer;
      fill: #FFFFFF; }
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6vw;
    margin-top: 9.5vw;
    position: sticky; }
  .pick_destination,
  .destination {
    position: static; }
  .destination {
    flex-direction: column; }
    .destination__image > img {
      max-width: 45em; }
    .destination__description {
      align-items: center; }
    .destination__name {
      align-self: center; }
    .destination__text {
      text-align: center; } }
