*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 62.5%; }

body {
  font-family: 'Barlow', sans-serif;
  font-weight: normal;
  color: #FFFFFF;
  background-image: url("../assets/home/background-home-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.header {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 5.5rem; }
  .header__logo-container {
    width: 4.8rem;
    height: 4.8rem; }
    .header__logo-container img {
      max-width: 100%;
      min-width: 100%;
      display: block; }
  .header .home-active::after {
    content: "";
    display: block;
    width: 7rem;
    height: .3rem;
    background-color: #FFFFFF;
    margin-top: 1.5rem; }
  .header .active {
    pointer-events: none;
    cursor: default; }
  .header__line-container {
    position: absolute;
    left: 11.2rem;
    right: 0;
    top: 50%;
    height: 0.1rem;
    width: 47.3rem;
    background-color: #979797;
    z-index: 3; }
  .header__menu-container {
    flex-grow: 2;
    margin-left: 44rem;
    display: flex;
    width: 83rem;
    height: 9.6rem;
    align-items: center;
    justify-content: center;
    position: relative;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.04);
    z-index: 2; }
    .header__menu-container__into {
      width: auto;
      height: 1.9rem; }
    .header__menu-container ul {
      list-style: none;
      display: flex;
      gap: 6.5rem; }
      .header__menu-container ul a {
        font-size: 1.6rem;
        font-family: "Barlow Condensed", sans-serif;
        text-decoration: none;
        color: #FFFFFF;
        transition: all 0.3s; }
        .header__menu-container ul a:hover {
          color: #F2613F;
          font-size: 2rem; }
        .header__menu-container ul a .menu-name {
          font-weight: normal; }
        .header__menu-container ul a .menu-number {
          padding-right: 0.5rem;
          font-weight: bold; }

.main-part {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 16.5rem;
  padding-left: 38.7rem;
  width: 90rem;
  height: 50.2rem; }
  .main-part h2 {
    font-size: 2.8rem;
    color: #D0D6F9;
    letter-spacing: 0.472rem; }
  .main-part .spaceDiv {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem; }
    .main-part .spaceDiv__space {
      font-size: 15rem;
      font-family: "Bellefair", sans-serif; }
  .main-part__description {
    width: 40rem;
    text-align: center; }
  .main-part p {
    line-height: 3.2rem;
    font-size: 1.8rem;
    text-align: start;
    width: 35rem; }
  .main-part .explore {
    padding-left: 45rem;
    padding-top: 1.5rem; }
    .main-part .explore__button {
      display: block;
      width: 27.4rem;
      height: 27.4rem;
      line-height: 27.4rem;
      background-color: #FFFFFF;
      color: #0B0D17;
      border-radius: 50%;
      text-align: center;
      font-size: 3.2rem;
      letter-spacing: .2rem;
      font-family: "Bellefair", sans-serif;
      text-transform: uppercase;
      text-decoration: none; }
