*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  margin: 0;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 62.5%; }

body {
  font-family: 'Barlow', sans-serif;
  font-weight: normal;
  color: #FFFFFF;
  background-image: url("../assets/home/background-home-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.header .menu-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  opacity: 0;
  visibility: hidden;
  z-index: 5;
  justify-content: center;
  align-items: center;
  transform-origin: top right; }
  .header .menu-overlay.active_menu {
    display: flex;
    animation: expandMenuDiagonally 1s forwards;
    visibility: visible; }
  .header .menu-overlay.closing_menu {
    animation: collapseMenuDiagonally 1s forwards; }
  .header .menu-overlay > nav > ul {
    display: flex;
    flex-direction: column;
    gap: 3vh; }
  .header .menu-overlay > nav > ul > li {
    list-style: none;
    font-size: 10.5vw; }
    .header .menu-overlay > nav > ul > li > a {
      text-decoration: none;
      color: #FFFFFF; }
      .header .menu-overlay > nav > ul > li > a:visited {
        text-decoration: none; }
    .header .menu-overlay > nav > ul > li {
      transition: transform 0.8s ease; }
      .header .menu-overlay > nav > ul > li:active {
        transform: scale(0.9); }

.header .close_button {
  position: fixed;
  top: 5%;
  right: 4%;
  min-width: 10vw;
  max-width: 15vw;
  height: auto;
  display: block;
  background: none;
  border: none;
  cursor: pointer;
  fill: #FFFFFF;
  transition: transform 0.7s ease-out; }
  .header .close_button:active {
    transform: scale(0.8); }

.header .crew_header {
  transform: none; }

.header .crew_information {
  display: none; }

.header {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 5.5rem; }
  .header__logo-container {
    width: 4.8rem;
    height: 4.8rem; }
    .header__logo-container img {
      max-width: 100%;
      min-width: 100%;
      display: block; }
  .header .home-active::after {
    content: "";
    display: block;
    width: 100%;
    height: .3rem;
    background-color: #FFFFFF;
    margin-top: 1.5rem; }
  .header .active {
    pointer-events: none;
    cursor: default; }
  .header__line-container {
    position: absolute;
    left: 11.2rem;
    right: 0;
    top: 50%;
    height: 0.1rem;
    width: 47.3rem;
    background-color: #979797;
    z-index: 3; }
  .header__menu-container {
    flex-grow: 2;
    margin-left: 44rem;
    display: flex;
    width: 83rem;
    height: 9.6rem;
    align-items: center;
    justify-content: center;
    position: relative;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.04);
    z-index: 2; }
    .header__menu-container__into {
      width: auto;
      height: 1.9rem; }
    .header__menu-container ul {
      list-style: none;
      display: flex;
      gap: 6.5rem; }
      .header__menu-container ul a {
        display: inline-block;
        font-size: 1.6rem;
        font-family: "Barlow Condensed", sans-serif;
        text-decoration: none;
        color: #FFFFFF;
        transition: all 0.3s; }
        .header__menu-container ul a:hover {
          color: #F2613F;
          transform: scale(1.3);
          transform-origin: center; }
        .header__menu-container ul a .menu-name {
          font-weight: normal; }
        .header__menu-container ul a .menu-number {
          padding-right: 0.5rem;
          font-weight: bold; }

.main-part {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 16.5rem;
  padding-left: 38.7rem;
  width: 90rem;
  height: 50.2rem; }
  .main-part h2 {
    font-size: 2.8rem;
    color: #D0D6F9;
    letter-spacing: 0.472rem; }
  .main-part .spaceDiv {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem; }
    .main-part .spaceDiv__space {
      font-size: 15rem;
      font-family: "Bellefair", sans-serif; }
  .main-part__description {
    width: 40rem;
    text-align: center; }
  .main-part p {
    line-height: 3.2rem;
    font-size: 1.8rem;
    text-align: start;
    width: 35rem; }
  .main-part .explore {
    padding-left: 45rem;
    padding-top: 1.5rem; }
    .main-part .explore__button {
      display: block;
      width: 27.4rem;
      height: 27.4rem;
      line-height: 27.4rem;
      background-color: #FFFFFF;
      color: #0B0D17;
      border-radius: 50%;
      text-align: center;
      font-size: 3.2rem;
      letter-spacing: .2rem;
      font-family: "Bellefair", sans-serif;
      text-transform: uppercase;
      text-decoration: none;
      transition: transform .5s ease-in; }
      .main-part .explore__button:active {
        transform: scale(0.9); }

@keyframes expandMenuDiagonally {
  from {
    transform: translateX(100%) translateY(0%) scale(0);
    opacity: 0; }
  to {
    transform: translateX(0%) translateY(0%) scale(1);
    opacity: 1; } }

@keyframes collapseMenuDiagonally {
  from {
    transform: translateX(0%) translateY(0%) scale(1);
    opacity: 1; }
  to {
    transform: translateX(100%) translateY(0%) scale(0);
    opacity: 0; } }

@media screen and (min-width: 160.1em) {
  body {
    background-image: url("../assets/home/background-home-desktop.jpg"); }
  html {
    font-size: 125%; }
  .header {
    margin-top: 1.1rem;
    margin-left: 1.5rem;
    margin-right: 0; }
    .header__line-container {
      min-width: 10vw;
      max-width: 25vw; }
    .header__menu-container {
      margin-left: 10rem;
      justify-content: center; }
    .header__logo-container {
      width: 7.5rem;
      height: auto;
      margin-right: 10.5rem; }
    .header__hamburger-menu {
      display: none; }
  .main-part {
    align-items: center;
    justify-content: center;
    padding-left: 0;
    gap: 20vw;
    width: 100%; }
    .main-part__description {
      display: flex;
      align-items: start;
      flex-direction: column;
      gap: 2.5vw;
      width: 35vw; }
  .spaceDiv {
    margin-top: 0 !important;
    margin-bottom: 0 !important; }
  .explore {
    padding-left: 0 !important; }
  .text > p {
    text-align: start;
    width: 100%; } }

@media screen and (max-width: 160em) {
  body {
    background-image: url("../assets/home/background-home-desktop.jpg"); }
  html {
    font-size: 75%; }
  .header {
    margin-top: 1.1rem;
    margin-left: 1.5rem;
    margin-right: 0; }
    .header__line-container {
      min-width: 10vw;
      max-width: 25vw; }
    .header__menu-container {
      margin-left: 10rem;
      justify-content: center; }
    .header__logo-container {
      width: 7.5rem;
      height: auto;
      margin-right: 10.5rem; }
    .header__hamburger-menu {
      display: none; }
  .main-part {
    align-items: center;
    justify-content: center;
    padding-left: 0;
    gap: 20vw;
    width: 100%; }
    .main-part__description {
      display: flex;
      align-items: start;
      flex-direction: column;
      gap: 2.5vw;
      width: 35vw; }
  .spaceDiv {
    margin-top: 0 !important;
    margin-bottom: 0 !important; }
  .explore {
    padding-left: 0 !important; }
  .text > p {
    text-align: start;
    width: 100%; } }

@media screen and (max-width: 100em) {
  body {
    background-image: url("../assets/home/background-home-desktop.jpg"); }
  html {
    font-size: 55%; }
  .header {
    margin-top: 1.1rem;
    margin-left: 1.5rem;
    margin-right: 0; }
    .header__line-container {
      min-width: 10vw;
      max-width: 25vw; }
    .header__menu-container {
      margin-left: 10rem;
      justify-content: center; }
    .header__logo-container {
      width: 7.5rem;
      height: auto;
      margin-right: 10.5rem; }
    .header__hamburger-menu {
      display: none; }
  .main-part {
    align-items: center;
    justify-content: center;
    padding-left: 0;
    gap: 20vw;
    width: 100%; }
    .main-part__description {
      display: flex;
      align-items: start;
      flex-direction: column;
      gap: 2.5vw;
      width: 35vw; }
  .spaceDiv {
    margin-top: 0 !important;
    margin-bottom: 0 !important; }
  .explore {
    padding-left: 0 !important; }
  .text > p {
    text-align: start;
    width: 100%; } }

@media screen and (max-width: 64em) {
  body {
    background-image: url("../assets/home/background-home-tablet.jpg"); }
  html {
    font-size: 49.5%; }
  .header {
    margin-top: 1.1rem;
    margin-left: 1.5rem;
    margin-right: 0;
    margin-bottom: 10vw; }
    .header__line-container {
      display: none; }
    .header__logo-container {
      min-width: 4.8em;
      height: auto; }
    .header__menu-container {
      justify-content: center;
      margin-left: 5.5rem; }
    .header__hamburger-menu {
      display: none; }
  .main-part {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    gap: 2.5rem;
    width: 100%; }
    .main-part__description {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 2.5vw; }
  .spaceDiv {
    margin-top: 0 !important;
    margin-bottom: 0 !important; }
  .explore {
    padding-left: 0 !important; }
  .text > p {
    text-align: center;
    width: 100%; } }

@media screen and (max-width: 48em) {
  body {
    background-image: url("../assets/home/background-home-tablet.jpg"); }
  html {
    font-size: 38.25%; }
  .header {
    margin-top: 1.1rem;
    margin-left: 1.5rem;
    margin-right: 0;
    margin-bottom: 20vw; }
    .header__line-container {
      display: none; }
    .header__logo-container {
      min-width: 4.8em;
      height: auto; }
    .header__menu-container {
      margin-left: 5.5rem; }
    .header__hamburger-menu {
      display: none; }
  .main-part {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    gap: 2.5rem;
    width: 100%; }
    .main-part__description {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 2.5vw; }
  .spaceDiv {
    margin-top: 0 !important;
    margin-bottom: 0 !important; }
  .explore {
    padding-left: 0 !important; }
  .text > p {
    text-align: center;
    width: 100%; } }

@media screen and (max-width: 28.6em) {
  body {
    background-image: url("../assets/home/background-home-mobile.jpg");
    background-size: cover; }
  html {
    font-size: 31.25%; }
  .header {
    margin-top: 1.1rem;
    justify-content: space-between;
    margin-left: 1.3rem;
    margin-right: 3.5rem;
    margin-bottom: 20vh; }
    .header__line-container {
      display: none; }
    .header__menu-container {
      display: none; }
    .header__logo-container {
      min-width: 4.8em; }
    .header__hamburger-menu {
      align-self: center;
      max-width: 3.5rem;
      height: auto;
      display: block;
      background: none;
      border: none;
      cursor: pointer;
      fill: #FFFFFF; }
  .main-part {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    gap: 2.5rem;
    width: 100%; }
    .main-part__description {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 2.5vw; }
  .spaceDiv {
    margin-top: 0 !important;
    margin-bottom: 0 !important; }
  .explore {
    padding-left: 0 !important; }
  .text > p {
    text-align: center;
    width: 100%; } }
