@keyframes expandMenuDiagonally {
  from {
    transform: translateX(100%) translateY(0%) scale(0);
    opacity: 0; }
  to {
    transform: translateX(0%) translateY(0%) scale(1);
    opacity: 1; } }

@keyframes collapseMenuDiagonally {
  from {
    transform: translateX(0%) translateY(0%) scale(1);
    opacity: 1; }
  to {
    transform: translateX(100%) translateY(0%) scale(0);
    opacity: 0; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 62.5%; }

body {
  font-family: 'Barlow', sans-serif;
  font-weight: normal;
  color: #FFFFFF;
  background-image: url("../assets/home/background-home-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

body {
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/technology/background-technology-desktop.jpg"); }

.header {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 5.5rem; }
  .header__hamburger-menu {
    display: none; }
  .header__logo-container {
    width: 4.8rem;
    height: 4.8rem; }
    .header__logo-container img {
      max-width: 100%;
      min-width: 100%;
      display: block; }
  .header .technology-highlight::after {
    content: "";
    display: block;
    width: 11rem;
    height: .3rem;
    background-color: #FFFFFF;
    margin-top: 1.5rem; }
  .header .active {
    pointer-events: none;
    cursor: default; }
  .header__line-container {
    position: absolute;
    left: 11.2rem;
    right: 0;
    top: 50%;
    height: 0.1rem;
    width: 47.3rem;
    background-color: #979797;
    z-index: 3; }
  .header__menu-container {
    flex-grow: 2;
    margin-left: 44rem;
    display: flex;
    width: 83rem;
    height: 9.6rem;
    align-items: center;
    justify-content: center;
    position: relative;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.04);
    z-index: 2; }
    .header__menu-container__into {
      width: auto;
      height: 1.9rem; }
    .header__menu-container ul {
      list-style: none;
      display: flex;
      gap: 6.5rem; }
      .header__menu-container ul a {
        font-size: 1.6rem;
        font-family: "Barlow Condensed", sans-serif;
        text-decoration: none;
        color: #FFFFFF;
        transition: all 0.3s; }
        .header__menu-container ul a:hover {
          color: #F2613F;
          font-size: 2rem; }
        .header__menu-container ul a .menu-name {
          font-weight: normal; }
        .header__menu-container ul a .menu-number {
          padding-right: 0.5rem;
          font-weight: bold; }
  .header .menu-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    opacity: 0;
    visibility: hidden;
    z-index: 5;
    justify-content: center;
    align-items: center;
    transform-origin: top right; }
    .header .menu-overlay.active_menu {
      display: flex;
      animation: expandMenuDiagonally 1s forwards;
      visibility: visible; }
    .header .menu-overlay.closing_menu {
      animation: collapseMenuDiagonally 1s forwards; }
    .header .menu-overlay > nav > ul {
      display: flex;
      flex-direction: column;
      gap: 3vh; }
    .header .menu-overlay > nav > ul > li {
      list-style: none;
      font-size: 10.5vw; }
      .header .menu-overlay > nav > ul > li > a {
        text-decoration: none;
        color: #FFFFFF; }
        .header .menu-overlay > nav > ul > li > a:visited {
          text-decoration: none; }
      .header .menu-overlay > nav > ul > li {
        transition: transform 0.8s ease; }
        .header .menu-overlay > nav > ul > li:active {
          transform: scale(0.9); }
  .header .close_button {
    position: fixed;
    top: 5%;
    right: 4%;
    min-width: 10vw;
    max-width: 15vw;
    height: auto;
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    fill: #FFFFFF;
    transition: transform 0.7s ease-out; }
    .header .close_button:active {
      transform: scale(0.8); }

main {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10rem; }

.space_launch_header {
  display: inline-block;
  transform: translate(10rem, 15.5rem);
  top: 12.2rem;
  left: 18.65rem;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: normal;
  font-size: 2.8rem;
  color: #FFFFFF;
  text-transform: uppercase;
  word-spacing: 1.2rem; }
  .space_launch_header > b {
    opacity: 25%; }

.technologies_container {
  overflow: hidden;
  margin-left: 10rem;
  padding-top: 5.5rem;
  display: flex;
  gap: 10rem; }
  .technologies_container__numbers {
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 5rem; }
    .technologies_container__numbers__number {
      font-size: 3.2rem;
      font-family: "Bellefair", sans-serif;
      letter-spacing: .2rem;
      color: #FFFFFF;
      width: 8rem;
      height: 8rem;
      border: 0.1rem solid #FFFFFF;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: .5rem;
      text-align: center;
      transition: all .4s ease; }
      .technologies_container__numbers__number:hover {
        cursor: pointer;
        transform: scale(1.1); }
  .technologies_container__description {
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 2rem; }
    .technologies_container__description__terminology {
      font-size: 1.6rem;
      font-family: "Barlow Condensed", sans-serif;
      text-transform: uppercase;
      letter-spacing: .27rem;
      color: #D0D6F9; }
    .technologies_container__description__name {
      font-size: 5.6rem;
      font-family: "Bellefair", sans-serif;
      letter-spacing: 0;
      color: #FFFFFF; }
    .technologies_container__description__text {
      font-size: 1.8rem;
      font-family: "Barlow Condensed", sans-serif;
      color: #D0D6F9;
      line-height: 3.2rem;
      letter-spacing: 0; }
    .technologies_container__description__image {
      transform: translateY(-7%); }

.filled {
  background-color: #FFFFFF;
  color: #0B0D17; }

@media screen and (min-width: 160.1em) {
  html {
    font-size: 125%; }
  .header {
    margin-top: 1.1rem;
    margin-left: 1.5rem;
    margin-right: 0; }
    .header__line-container {
      min-width: 10vw;
      max-width: 25vw; }
    .header__menu-container {
      margin-left: 10rem;
      justify-content: center; }
    .header__logo-container {
      width: 7.5rem;
      height: auto;
      margin-right: 10.5rem; }
  .space_launch_header {
    margin-bottom: 10.5vh; }
  .technologies_container {
    padding-top: 0;
    gap: 7rem; }
    .technologies_container__description > p {
      line-height: 3.5vw;
      font-size: 2rem; }
    .technologies_container__image > img {
      width: 30vw; } }

@media screen and (max-width: 160em) {
  body {
    background-image: url("../assets/technology/background-technology-desktop.jpg"); }
  html {
    font-size: 85%; }
  .header {
    margin-top: 1.1rem;
    margin-left: 1.5rem;
    margin-right: 0; }
    .header__line-container {
      min-width: 10vw;
      max-width: 25vw; }
    .header__menu-container {
      margin-left: 10rem;
      justify-content: center; }
    .header__logo-container {
      width: 7.5rem;
      height: auto;
      margin-right: 10.5rem; }
  .space_launch_header {
    margin-bottom: 9.5vh; }
  .technologies_container {
    padding-top: 0;
    gap: 7rem; }
    .technologies_container__description > p {
      line-height: 3.5vw;
      font-size: 2.2rem; }
    .technologies_container__image > img {
      width: 30vw; } }

@media screen and (max-width: 100em) {
  body {
    background-image: url("../assets/technology/background-technology-desktop.jpg"); }
  html {
    font-size: 55%; }
  .header {
    margin-top: 1.1rem;
    margin-left: 1.5rem;
    margin-right: 0; }
    .header__line-container {
      min-width: 10vw;
      max-width: 25vw; }
    .header__menu-container {
      margin-left: 10rem;
      justify-content: center; }
    .header__logo-container {
      width: 7.5rem;
      height: auto;
      margin-right: 10.5rem; }
  .technologies_container {
    padding-top: 0;
    gap: 7rem; }
    .technologies_container__description > p {
      line-height: 3.2vw;
      font-size: 2rem; } }

@media screen and (max-width: 64em) {
  body {
    background-image: url("../assets/technology/background-technology-tablet.jpg"); }
  html {
    font-size: 48.5%; }
  .header {
    margin-top: 1.1rem;
    margin-left: 1.5rem;
    margin-right: 0; }
    .header__line-container {
      display: none; }
    .header__logo-container {
      min-width: 4.8em;
      height: auto; }
    .header__menu-container {
      justify-content: center;
      margin-left: 5.5rem; }
  main {
    margin-top: 5.5rem;
    gap: 5rem; }
  .space_launch_header {
    align-self: center;
    word-spacing: 1rem;
    justify-content: center;
    display: flex;
    transform: none; }
    .space_launch_header > b {
      padding-right: 2rem; }
  .technologies_container {
    align-items: center;
    flex-direction: column-reverse;
    margin-left: 0;
    padding-top: 0; }
    .technologies_container__numbers {
      flex-direction: row; }
    .technologies_container__image > img {
      max-width: 65em;
      min-width: 50em; }
    .technologies_container__description {
      align-items: center; }
      .technologies_container__description__text {
        text-align: center;
        padding: 2.5rem; } }

@media screen and (max-width: 48em) {
  body {
    background-image: url("../assets/technology/background-technology-tablet.jpg"); }
  html {
    font-size: 38.25%; }
  .header {
    margin-top: 1.1rem;
    margin-left: 1.5rem;
    margin-right: 0; }
    .header__line-container {
      display: none; }
    .header__logo-container {
      min-width: 4.8em;
      height: auto; }
    .header__menu-container {
      margin-left: 5.5rem; }
    .header__hamburger-menu {
      display: none; }
  main {
    margin-top: 3.5rem;
    gap: 5rem; }
  .space_launch_header {
    align-self: center;
    word-spacing: 1rem;
    justify-content: center;
    display: flex;
    transform: none; }
    .space_launch_header > b {
      padding-right: 2rem; }
  .technologies_container {
    align-items: center;
    flex-direction: column-reverse;
    margin-left: 0;
    padding-top: 0; }
    .technologies_container__numbers {
      flex-direction: row; }
    .technologies_container__description > p {
      line-height: 4vw; }
    .technologies_container__image > img {
      max-width: 65em;
      min-width: 50em; }
    .technologies_container__description {
      align-items: center; }
      .technologies_container__description__text {
        text-align: center;
        padding: 2.5rem; } }

@media screen and (max-width: 28.6em) {
  body {
    background-image: url("../assets/technology/background-technology-mobile.jpg");
    background-size: cover; }
  html {
    font-size: 31.25%; }
  .header {
    margin-top: 1.1rem;
    justify-content: space-between;
    margin-left: 1.3rem;
    margin-right: 3.5rem; }
    .header__line-container {
      display: none; }
    .header__menu-container {
      display: none; }
    .header__logo-container {
      min-width: 4.8em; }
    .header__hamburger-menu {
      align-self: center;
      max-width: 3.5rem;
      height: auto;
      display: block;
      background: none;
      border: none;
      cursor: pointer;
      fill: #FFFFFF; }
  main {
    margin-top: 1.5rem;
    gap: 5rem; }
  .space_launch_header {
    align-self: center;
    word-spacing: 1rem;
    justify-content: center;
    display: flex;
    transform: none; }
    .space_launch_header > b {
      padding-right: 2rem; }
  .technologies_container {
    align-items: center;
    flex-direction: column-reverse;
    margin-left: 0;
    padding-top: 0; }
    .technologies_container__numbers {
      flex-direction: row; }
    .technologies_container__image > img {
      max-width: 45em; }
    .technologies_container__description > p {
      line-height: 4.5vw;
      font-size: 3rem; }
    .technologies_container__description {
      align-items: center; }
      .technologies_container__description__text {
        text-align: center;
        padding: 2.5rem; } }
