// small mobile devices
@media only screen and (max-width: 26.875em) and (orientation: portrait) {
  body {
    object-fit: cover;
    background-image: url("../assets/crew/background-crew-mobile.jpg");
  }

  html {
    font-size: 30.25%;
  }


  .header {
    //margin-left: 0;
    &__logo-container {
      width: 7.5rem;
      height: 6.5rem;

    }

    &__line-container {
      display: none;
      left: 10rem;
      width: 45rem;
    }

    &__menu-container {
      justify-content: flex-start;
      margin-left: 5rem;
    }

    & ul {
      padding-left: 2.5rem;
      gap: 6.5rem;
    }

    & ul li > a > span {
      //font-size: 1.7rem;
    }

  }

  .crew_header {
    transform: translate(22rem, 15rem);
  }

  .crew_information {
    align-items: center;
    margin-top: 1.5rem;
    flex-direction: column-reverse;
    gap: 15rem;
    margin-left: 0;
  }

  .crew_information__description {
    display: flex;
    flex-direction: column-reverse;
    gap: 4.5rem;
  }

  .crew_information__profession {
    order: 1;
  }

  .crew_information__name {
    order: 2;
  }

  .slider-dots {
    z-index: 5000;
    order: 3;
  }

  .crew_information__text {
    font-size: 2rem;
  }

  .crew_information__profession,
  .crew_information__name{
    text-align: center;
  }

  .crew-image {
    align-self: center;
    width: 50vw !important;
    height: 45vh !important;
  }
}




// Mobile devices
@media only screen and (max-width: 30em) and (min-width: 26.875em) and (orientation: portrait)  {
  body {
    object-fit: cover;
    background-image: url("../assets/crew/background-crew-mobile.jpg");
  }

  html {
    font-size: 35.25%;
  }

  .header {
    &__logo-container {
      width: 6.5rem;
      height: 6.5rem;

    }

    &__line-container {
      display: none;
      left: 10rem;
      width: 45rem;
    }

    &__menu-container {
      justify-content: flex-start;
      margin-left: 5rem;
    }

    & ul {
      padding-left: 2.5rem;
      gap: 6.5rem;
    }

    & ul li > a > span {
      font-size: 1.7rem;
    }
  }

  .crew_header {
    transform: translate(22rem, 5em);
  }

  .crew_information {
    align-items: center;
    margin-top: 1.5rem;
    flex-direction: column-reverse;
    gap: 15.5rem;
    margin-left: 0;
  }

  .crew_information__description {
    display: flex;
    flex-direction: column-reverse;
    gap: 4.5rem;
  }

  .crew_information__profession {
    order: 1;
  }

  .crew_information__name {
    order: 2;
  }

  .slider-dots {
    z-index: 5000;
    order: 3;
  }

  .crew_information__text {
    font-size: 2rem;
  }

  .crew_information__profession,
  .crew_information__name{
    text-align: center;
  }

  .crew-image {
    align-self: center;
    width: 50vw !important;
    height: 45vh !important;
  }
}

// Tablets 768px
@media only screen and (max-width: 48em) and (min-width: 30em) {
  body {
    object-fit: cover;
    background-image: url("../assets/crew/background-crew-tablet.jpg");
  }

  html {
    font-size: 41.25%;
  }

  .header {
    &__logo-container {
      width: 6.5rem;
      height: 6.5rem;

    }

    &__line-container {
      display: none;
      left: 10rem;
      width: 45rem;
    }

    &__menu-container {
      justify-content: flex-start;
      margin-left: 5rem;
    }

    & ul {
      padding-left: 2.5rem;
      gap: 6.5rem;
    }
  }

  .crew_header {
    transform: translate(10rem, 1em);
  }

  .crew_information {
    margin-top: 6rem;
    flex-direction: column;
    gap: 0;
    margin-left: 0;
  }
  .crew_information__profession,
  .crew_information__name{
    text-align: center;
  }

  .crew-image {
    width: 50vw !important;
    height: 40vh !important;
  }
}

// Tablets max 1024px


@media only screen and (max-width: 79em) and (min-width: 48em) {
  body {
    object-fit: cover;
    background-image: url("../assets/crew/background-crew-tablet.jpg");
  }

  html {
    font-size: 56.25%;
  }

  .header {
    &__logo-container {
      width: 4.5rem;
      height: 4.5rem;

    }

    &__line-container {
      display: none;
      left: 10rem;
      width: 45rem;
    }

    &__menu-container {
      justify-content: flex-start;
      margin-left: 10rem;
    }

    & ul {
      padding-left: 7.5rem;
      gap: 6.5rem;
    }
  }

  .crew_header {
    transform: translate(10rem, 1em);
  }

  .crew_information {
    margin-top: 6rem;
    flex-direction: column;
    gap: 0;
    margin-left: 0;
  }
  .crew_information__profession,
  .crew_information__name{
    text-align: center;
  }

  .crew-image {
    width: 40vw !important;
    height: 31vh !important;
  }
}



// Small screens max 1600px and min 1280px
@media only screen and (min-width: 80em) and (max-width: 99em) {
  html {
    font-size: 60%;
  }

  .header {
    &__logo-container  {
      width: 6.5rem;
      height: 6.5rem;

    }

    &__line-container {
      left: 10rem;
      width: 25rem;
    }

    &__menu-container {
      justify-content: start;
      margin-left: 25rem
    }

    & ul {
      padding-left: 7.5rem;
      gap: 6.5rem;
    }
  }

  .crew-highlight::after {
    width:6.6rem;
  }

  .crew-image {
    width: 23.5vw !important;
    height: 72.5vh !important;
  }

  .crew_header {
    transform: translate(10rem, 5rem);
  }
}

// Medium screens max 2560px width and min 1920 px

@media only screen and (min-width: 100em) and (max-width: 160em) {
  html {
    font-size: 80%;
  }

  .header {
    min-width: 10rem;
    &__logo-container  {
      width: 6.5rem;
      height: 6.5rem;

    }

    &__line-container {
      left: 10rem;
      width: 25rem;
    }

    &__menu-container {
      justify-content: start;
      margin-left: 25rem
    }

    & ul {
      padding-left: 5.5rem;
      gap: 6.5rem;
    }
  }

  .crew-highlight::after {
    width:6.6rem;
  }

  .crew-image {
    width: 23.5vw !important;
    height: 72.5vh !important;
  }

  .crew_header {
    transform: translate(10rem, 5rem);
  }
}


// large 2k screens
@media only screen and (min-width : 160em) and (max-width : 187.5em) {
  html {
    font-size: 105%;
  }
  .header {
      &__logo-container  {
        width: 7rem;
        height: 7rem;

      }
    &__menu-container {
      justify-content: start;
    }

    & ul {
      padding-left: 11.5rem;
      gap: 7.5rem;
    }
  }

  .crew-highlight::after {
    width:6.6rem;
  }

  .crew-image {
    width: 22vw !important;
    height: 73vh !important;
  }

  .crew_header {
    transform: translate(10rem, 5rem);
  }

}

// Extra large screens - 4k

@media only screen and (min-width : 187.5em) {
  html {
    font-size: 115%;
  }

  .header {
    &__logo-container  {
      width: 7rem;
      height: 7rem;

    }
    &__menu-container {
      justify-content: start;
    }

    & ul {
      padding-left: 11.5rem;
      gap: 7.5rem;
    }
  }

  .crew-highlight::after {
    width:6.6rem;
  }

  .crew-image {
    width: 23vw !important;
    height: 75.4vh !important;
  }

  .crew_header {
    transform: translate(10rem, 5rem);
  }
}