// 4k monitors
@media screen and (min-width: 160.1em) {
  body {
    background-image: url("../assets/destination/background-destination-desktop.jpg");
  }

  html {
    font-size: 125%;
  }

  .header {
    margin-top: 1.1rem;
    margin-left: 1.5rem;
    margin-right: 0;

    &__line-container {
      //left: 7rem;
      min-width: 10vw;
      max-width: 25vw;
    }

    &__menu-container {
      margin-left: 10rem;
      justify-content: center;
    }

    &__logo-container {
      width: 7.5rem;
      height: auto;
      margin-right: 10.5rem;
    }
    &__hamburger-menu {
      display: none;
    }
  }
}

// Huge Laptops
@media screen and (max-width: 160rem) {
  html {
    font-size: 75%;
  }
  .header {
    margin-top: 1.1rem;
    margin-left: 1.5rem;
    margin-right: 0;

    &__line-container {
      //left: 7rem;
      min-width: 10vw;
      max-width: 25vw;
    }

    &__menu-container {
      margin-left: 10rem;
      justify-content: center;
    }

    &__logo-container {
      width: 7.5rem;
      height: auto;
      margin-right: 10.5rem;
    }
    &__hamburger-menu {
      display: none;
    }
  }

  .crew-image {
    min-width: 45vw !important;
    height: 60vh !important;
  }

  .meet_crew {
    margin-bottom: 2vw;
  }
}


// Medium Laptops
@media screen and (max-width: 100em) {
  body {
    background-image: url("../assets/crew/background-crew-desktop.jpg");
  }

  html {
    font-size: 55%;
  }

  .header {
    margin-top: 1.1rem;
    margin-left: 1.5rem;
    margin-right: 0;

    &__line-container {
      //left: 7rem;
      min-width: 10vw;
      max-width: 25vw;
    }

    &__menu-container {
      margin-left: 10rem;
      justify-content: center;
    }

    &__logo-container {
      width: 7.5rem;
      height: auto;
      margin-right: 10.5rem;
    }
    &__hamburger-menu {
      display: none;
    }
  }

  .crew-image {
    width: 30vw !important;
    height: 60vh !important;
  }
}

  // Medium Tablets and small laptops in portrait
  @media screen and (max-width: 64em) and (orientation: portrait) {
    html {
      min-height: 100vh;
      font-size: 42%;
    }

    body {
      background-image: url("../assets/crew/background-crew-tablet.jpg");

    }

    .header {
      margin-top: 1.1rem;
      margin-left: 1.5rem;
      margin-right: 0;

      &__line-container {
        display: none;
        //left: 7rem;
        min-width: 10vw;
        max-width: 25vw;
      }

      &__menu-container {
        margin-left: 10rem;
        justify-content: center;
      }

      &__logo-container {
        width: 7.5rem;
        height: auto;
        margin-right: 10.5rem;
      }
      &__hamburger-menu {
        display: none;
      }
    }

    .crew_information {
      flex-direction: column;
      margin-left: 0;
      gap: 0;

      &__description {
        justify-content: center;
        align-items: center;
        display: flex;
        gap: 1.2rem;
        flex-direction: column;
      }

    }

    .crew_header {
      transform: none;
    }

    .crew-image {
      align-self: center;
      width: 46vw !important;
      height: 50vh !important;
    }

    .meet_crew {
      align-self: start;
    }

    main {
      gap: 0;
    }
  }


  // Medium Tablets and small laptops in landscape
  @media screen and (max-width: 64em) and (orientation: landscape) {

    html {
      min-height: 100vh;
      font-size: 42%;
    }

    body {
      background-image: url("../assets/crew/background-crew-tablet.jpg");

    }

    .header {
      margin-top: 1.1rem;
      margin-left: 1.5rem;
      margin-right: 0;

      &__line-container {
        display: none;
        //left: 7rem;
        min-width: 10vw;
        max-width: 25vw;
      }

      &__menu-container {
        margin-left: 10rem;
        justify-content: center;
      }

      &__logo-container {
        width: 7.5rem;
        height: auto;
        margin-right: 10.5rem;
      }
      &__hamburger-menu {
        display: none;
      }
    }
    .meet_crew {
      margin-bottom: 7vw;
    }
  }

  // Tablets in landscape
  @media screen and (max-width: 53.125em) and (orientation: landscape) {
    html {
      font-size: 38.25%;
    }

    body {
      background-image: url("../assets/crew/background-crew-tablet.jpg");
      background-size: auto;
    }

    .header {
      margin-top: 1.1rem;
      margin-left: 1.5rem;
      margin-right: 0;

      &__line-container {
        display: none;
        //left: 7rem;
        min-width: 10vw;
        max-width: 25vw;
      }

      &__menu-container {
        margin-left: 10rem;
        justify-content: center;
      }

      &__logo-container {
        width: 7.5rem;
        height: auto;
        margin-right: 10.5rem;
      }
      &__hamburger-menu {
        display: none;
      }
    }

    .crew_information {
      flex-direction: column;
      margin-left: 0;
      gap: 0;

      &__description {
        justify-content: center;
        align-items: center;
        display: flex;
        gap: 1.2rem;
        flex-direction: column;
      }

    }

    .crew_header {
      transform: none;
    }

    .crew-image {
      margin-top: 1.8rem;
      align-self: center;
      width: 45vw !important;
      height: 50vh !important;
    }

    .meet_crew {
      align-self: start;
    }

    main {
      gap: 0;
    }
  }

  // Tablets
  @media screen and (max-width: 53.125em) and (orientation: portrait) {
    html {
      font-size: 38.25%;
    }

    body {
      background-image: url("../assets/crew/background-crew-tablet.jpg");
      background-size: auto;
   }

    .header {
      margin-top: 1.1rem;
      margin-left: 1.5rem;
      margin-right: 0;

      &__line-container {
        display: none;
        //left: 7rem;
        min-width: 10vw;
        max-width: 25vw;
      }

      &__menu-container {
        margin-left: 10rem;
        justify-content: center;
      }

      &__logo-container {
        width: 7.5rem;
        height: auto;
        margin-right: 10.5rem;
      }
      &__hamburger-menu {
        display: none;
      }
    }

    .crew_information {
      flex-direction: column;
      margin-left: 0;
      gap: 0;

      &__description {
        justify-content: center;
        align-items: center;
        display: flex;
        gap: 2rem;
        flex-direction: column;
      }

    }

    .crew_header {
      transform: none;
    }

    .crew-image {
      align-self: center;
      width: 46vw !important;
      height: 50vh !important;
    }

    .meet_crew {
      align-self: start;
      margin-bottom: 5vw;
    }

    main {
      gap: 0;
    }
  }

  // Mobile phones
  @media screen and (max-width: 28.6em) {
    html {
      font-size: 31.25%;
    }

    body {
      background-image: url("../assets/crew/background-crew-mobile.jpg");
      background-size: cover;
    }

    .header {
      margin-top: 1.1rem;
      justify-content: space-between;
      margin-left: 1.3rem;
      margin-right: 3.5rem;
      margin-bottom: 3.5rem;

      &__line-container {
        display: none;
      }

      &__menu-container {
        display: none;
      }

      &__logo-container {
        min-width: 6em;
      }

      &__hamburger-menu {
        align-self: center;
        max-width: 3.5rem;
        height: auto;
        display: block;
        background: none;
        border: none;
        cursor: pointer;
        fill: $color-white;
      }
    }

    .crew_information {
      flex-direction: column-reverse;
      margin-left: 0;
      gap: 0;

      &__description {
        justify-content: center;
        align-items: center;
        display: flex;
        gap: 3vh;
        flex-direction: column-reverse;
      }

    }

    .crew_header {
      transform: none;
    }

    .crew-image {
      align-self: center;
      min-width: 60vw !important;
      min-height: 50vh !important;
    }

    .meet_crew {
      align-self: center;
    }

    .slider-dots {
      margin-top: 0;
    }

    main {
      gap: 0;
    }
  }
