$color-white: #FFFFFF;
$color-black: #0B0D17;
$color-black-2: #383B4B;
$color-light-grey: #979797;
$color-light-grey-2: #D0D6F9;
$transition-color-brown:#F2613F;
$light-purple: #D0D6F9;
$header-font-size: 1.6rem;
$barlow-condensed: "Barlow Condensed", sans-serif;
$belleFair: "Bellefair", sans-serif;